workDir = "/scratch/global/pdaasobrinho/work"
conda.enabled = true
params.max_taxons = 256
params.esm_processes = 30
params.esm_models_to_use = [6, 12, 30, 33]
params.parsing_processes = 8
params.raw_data_dir = params.release_dir + "/raw_data"

executor {
    queueSize = 5
}

process {
    executor = 'slurm'
    queue = 'intel-512'
    memory = '24 GB'
    time = '30 min'
    cpus = 4

    withLabel: long {
        cpus = 8
        memory = '40 GB'
        time = '12 h'
        queue = 'amd-3tb'
    }
    withLabel: pytorchcpu {
        cpus = 8
        memory = '32 GB'
        time = '1 h'
        queue = 'amd-3tb'
        container = 'singularity/sif/big_env.sif'
    }
    withLabel: pytorchcpu_heavy {
        cpus = 48
        memory = '64 GB'
        time = { 12.h * task.attempt }
        queue = 'amd-3tb'
        maxRetries = 2
    }
    withLabel: pytorchgpu_light {
        cpus = 12
        clusterOptions = '--gpus-per-node=1'
        memory = '52 GB'
        time = { 8.h * task.attempt }
        queue = 'gpu-8-v100'
        maxRetries = 2
    }
    withLabel: pytorch251 {
        cpus = 8
        clusterOptions = '--gpus-per-node=1'
        memory = '36 GB'
        time = { 10.h * task.attempt }
        queue = 'gpu-4-a100'
        maxRetries = 2
    }
    withName: download_esm {
        container = 'singularity/sif/env2.sif'
    }
    withName: taxa_profiles_train {
        container = 'singularity/sif/env2.sif'
    }
    withName: taxa_profiles_test {
        container = 'singularity/sif/basic_env.sif'
    }
    withName: index_go_by_term {
        container = 'singularity/sif/env2.sif'
    }
    withName: infer_ankh_base {
        container = 'singularity/sif/e1.sif'
    }
    withName: infer_ankh_large {
        container = 'singularity/sif/e1.sif'
    }
    withName: infer_ankh2_large {
        container = 'singularity/sif/e1.sif'
    }
    withName: infer_ankh3_large {
        container = 'singularity/sif/e1.sif'
    }
    withName: infer_pfe1_150 {
        container = 'singularity/sif/e1.sif'
    }
    withName: infer_pfe1_300 {
        container = 'singularity/sif/e1.sif'
    }
    withName: infer_pfe1_600 {
        container = 'singularity/sif/e1.sif'
    }
    withName: infer_amp_120 {
        container = 'singularity/sif/e1.sif'
    }
    withName: infer_amp_350 {
        container = 'singularity/sif/e1.sif'
    }
    withName: infer_esm2_150 {
        container = 'singularity/sif/e1.sif'
    }
    withName: infer_esm2_650 {
        container = 'singularity/sif/e1.sif'
    }
    withName: infer_esmc_300 {
        container = 'singularity/sif/e1_v2.sif'
    }
    withName: infer_esmc_600 {
        container = 'singularity/sif/e1_v2.sif'
    }
    withName: process_cafa_annotations {
        container = 'singularity/sif/env2.sif'
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind /home/pdaasobrinho/.cache:/home/pdaasobrinho/.cache --nv"
}
