workDir = "/scratch/global/pdaasobrinho/work"
conda.enabled = true
params.max_taxons = 256
params.esm_processes = 30
params.esm_models_to_use = [6, 12, 30, 33]
params.parsing_processes = 8

executor {
    queueSize = 3
}

process {
    executor = 'slurm'
    queue = 'intel-128'
    memory = '24 GB'
    time = '30 min'
    cpus = 4

    withLabel: long {
        cpus = 8
        memory = '40 GB'
        time = '12 h'
        queue = 'amd-3tb'
    }
    withLabel: pytorchcpu {
        cpus = 8
        memory = '32 GB'
        time = '1 h'
        queue = 'amd-3tb'
        container = 'singularity/sif/big_env.sif'
    }
    withLabel: pytorch251 {
        cpus = 8
        clusterOptions = '--gpus-per-node=1'
        memory = '36 GB'
        time = { 6.h * task.attempt }
        queue = 'gpu-8-v100'
        maxRetries = 2
    }
    withName: download_esm {
        container = 'singularity/sif/env2.sif'
    }
    withName: taxa_profiles_train {
        container = 'singularity/sif/env2.sif'
    }
    withName: taxa_profiles_test {
        container = 'singularity/sif/basic_env.sif'
    }
    withName: index_go_by_term {
        container = 'singularity/sif/env2.sif'
    }
    withName: calc_ankh_embeddings {
        container = 'singularity/sif/ankh.sif'
    }
    withName: calc_esm_embeddings {
        container = 'singularity/sif/ankh.sif'
    }
    withName: process_cafa_annotations {
        container = 'singularity/sif/env2.sif'
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = "--bind /home/pdaasobrinho/.cache:/home/pdaasobrinho/.cache --nv"
}
