conda.enabled = true
conda.useMamba = true
params.max_taxons = 256
params.esm_processes = 30
params.esm_models_to_use = [6, 12, 30, 33]
params.parsing_processes = 8

process {
    withName:taxa_profiles {
        container = 'singularity_images/basic_env.sif'
    }
    withName:prottrans_embs {
        container = 'singularity_images/env2.sif'
    }
}

singularity {
    enabled = true
}