workDir = "/scratch/global/pdaasobrinho/work"
conda.enabled = true
params.max_taxons = 256
params.esm_processes = 30
params.esm_models_to_use = [6, 12, 30, 33]
params.parsing_processes = 8

process {
    executor = 'slurm'
    queue = 'intel-128'
    memory = '24 GB'
    time = '30 min'
    cpus = 4

    withLabel: 'long' {
        cpus = 8
        memory = '32 GB'
        time = '12 h'
        queue = 'amd-512'
    }

    withName:taxa_profiles {
        container = 'singularity_images/basic_env.sif'
    }
    withName:index_go_by_term {
        container = 'singularity_images/env2.sif'
    }
    withName:list_annotated_trembl {
        container = 'singularity_images/env2.sif'
    }
    withName:process_goa {
        container = 'singularity_images/env2.sif'
    }
    withName:prottrans_embs {
        container = 'singularity_images/env2.sif'
    }
}

singularity {
    enabled = true
    autoMounts = true
}