conda.enabled = true
conda.useMamba = true
params.max_taxons = 256
params.esm_processes = 30
params.esm_models_to_use = [6, 12, 30, 33]
params.parsing_processes = 8
params.raw_data_dir = params.release_dir + "/raw_data"

executor {
    queueSize = 1
}

process {
    
    withName: index_go_by_term {
        container = 'singularity/sif/env2.sif'
    }
    withName: list_annotated_trembl {
        container = 'singularity/sif/env2.sif'
    }
    withName: process_goa {
        container = 'singularity/sif/env2.sif'
    }
    withName: taxa_profiles {
        container = 'singularity/sif/basic_env.sif'
    }
    withName: prottrans_embs {
        container = 'singularity/sif/env2.sif'
    }
    withName: infer_ankh_base {
        container = 'singularity/sif/ankh.sif'
    }
    withName: calc_ankh_embeddings {
        container = 'singularity/sif/ankh.sif'
    }
    withName: calc_esm_embeddings {
        container = 'singularity/sif/ankh.sif'
    }
    withName: train_taxid_autoencoder {
        container = 'singularity/sif/torch_frieren.sif'
    }
    withName: train_interpro_autoencoder {
        container = 'singularity/sif/torch_frieren.sif'
    }
    withName: infer_taxid_autoencoder {
        container = 'singularity/sif/torch_frieren.sif'
    }
    withName: infer_interpro_autoencoder {
        container = 'singularity/sif/torch_frieren.sif'
    }
}

singularity {
    enabled = true
    runOptions = "--nv --bind /home/pita/.cache:/home/pita/.cache"
}
